.services {
  height: 1900px;
  width: 100%;
  background: rgba(250, 250, 255, 1);
  display: flex;
  flex-direction: column;
}
.services-head {
  width: 100%;
}
.head {
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  align-items: center;
  text-align: center;
  padding-left: auto;
  /* margin-left: 563px; */
  padding-top: 95px;
  font-family: DM Sans;
  font-size: 50px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0.37400001287460327px;

  color: rgba(6, 12, 161, 1);
}
.service-col {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
  margin-left: 5%;
  margin-top: 123px;
  justify-content: space-between;
}
.main-col {
  display: flex;
  flex-direction: column;
}
.im img {
  width: 420px;
  height: 470px;
}
.im1 {
  padding-left: 90px;
  margin-top: -70px;
}
.im2 {
  padding-right: 0px;
  margin-top: -100px;
}
.im2 img {
  width: 520px;
  height: 600px;
}
.im3 {
  padding-left: 90px;
  margin-top: -70px;
}
.details1 h3 {
  height: 82px;
  width: 637px;
  font-family: DM Sans;
  font-size: 34px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0.37400001287460327px;
  text-align: left;
  color: #060ca1;
}
.details2 h3 {
  height: 82px;
  width: 637px;
  font-family: DM Sans;
  font-size: 34px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0.37400001287460327px;
  text-align: left;
  color: #060ca1;
}
.details1 p {
  height: 125px;
  width: 611px;
  margin-top: 16px;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.40799999237060547px;
  text-align: left;
  color: #5c5c5c;
}
.details2 p {
  height: 125px;
  width: 611px;
  margin-top: -15px;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.40799999237060547px;
  text-align: left;
  color: #5c5c5c;
}
.service-col1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.service-col2 {
  margin-top: 80px;
}

@media screen and (max-width: 1200px) {
  .ṣervices-im1 {
    padding-left: 0px;
  }
  .ṣervices-im2 {
    padding-right: 0px;
  }
  .ṣervices-im2 img {
    width: 420px;
    height: 480px;
  }
  .ṣervices-im3 {
    padding-left: 0px;
  }
  .head {
    text-align: center;
    /* justify-content: space-around; */
    margin-left: 400px;
  }
}
@media screen and (max-width: 1087px) {
  .service-col1 .details2 h3 {
    font-size: 24.5px;

    line-height: 10px;
    height: 60px;
    width: 400px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .service-col1 .details1 h3 {
    font-size: 24.5px;

    height: 60px;
    width: 500px;
    margin-bottom: 20px;
  }

  .service-col1 .details2 p {
    font-size: 16px;
    height: 191px;
    width: 523px;
    margin-top: -40px;
    vertical-align: top;
  }
  .service-col1 .details1 p {
    font-size: 16px;
    height: 191px;
    width: 523px;
    vertical-align: top;
  }
  .ṣervices-im2 img {
    width: 356px;
    height: 400px;
  }
  .ṣervices-im3 img {
    width: 372px;
    height: 400px;
  }
}
@media screen and (max-width: 1062px) {
  /* .service-col{
  width: 100%;
} */
  .service-col1 {
    width: 100%;
  }
  .service-col1 .details1 {
    width: 100%;
  }
  .service-col1 .details1 p {
    width: 100%;
  }
}
@media screen and (max-width: 1038px) {
  /* .service-col{
  width: 100%;
} */
  .service-col1 {
    width: 100%;
  }
  .service-col1 .details1 {
    width: 100%;
  }
  .service-col1 .details1 p {
    width: 100%;
  }
  .service-col1 .details1 h3 {
    width: 100%;
  }
}
@media screen and (max-width: 1011px) {
  /* .service-col{
  width: 100%;
} */
  .service-col2 {
    width: 100%;
  }
  .service-col2 .details2 {
    width: 100%;
  }
  .service-col2 .details2 p {
    width: 100%;
  }
  .service-col1 .details1 h3 {
    width: 100%;
  }
}

@media screen and (max-width: 972px) {
  .ṣervices-im2 img {
    margin-left: 30px;
  }
}

@media screen and (max-width: 969px) {
  .service-col1 .details2 p {
    height: 200px;
    width: 423px;
  }
  .service-col1 .details1 p {
    height: 200px;
    width: 423px;
  }
}
@media screen and (max-width: 954px) {
  /* .service-col{
  width: 100%;
} */
  .service-col1 {
    width: 100%;
  }
  .service-col1 .details1 {
    width: 100%;
  }
  .service-col1 .details1 p {
    width: 100%;
  }
  .service-col1 .details1 h3 {
    width: 100%;
  }
}
@media screen and (max-width: 940px) {
  .services {
    margin-top: -80px;
    height: auto;
    /* height: 1900px; */
    /* font-size: 45px; */
  }
  .services-head {
    width: 100%;
    align-items: center;
  }
  .head {
    margin-left: auto;
    margin-right: auto;
  }

  .service-col {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .service-col1 {
    display: flex;
    flex-direction: column;
    /* gap: 0rem; */
    width: 90%;
    margin: auto;
  }
  .service-col2 {
    flex-direction: column-reverse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
  }
  .service-col3 {
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    /* 
     */
  }

  .service-col1 .details2 h3 {
    font-size: 24.5px;

    line-height: 10px;
    height: 60px;
    width: 80%;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .service-col2 .details1 p {
    font-size: 16px;
    height: 191px;
    width: 100%;
    margin-top: -2rem;
    /* padding-top: -10rem; */
  }
  .service-col2 .details2 p {
    font-size: 16px;
    height: 191px;
    width: 100%;
  }
  .im {
    width: 100%;
    align-items: center;
    margin-left: auto;
  }
  .ṣervices-im1 img {
    margin-left: 23%;
    margin-right: auto;
  }
  .ṣervices-im2 img {
    margin-left: 25%;
    margin-right: auto;
  }
  .ṣervices-im3 img {
    margin-left: 25%;
    margin-right: auto;
  }
  .service-col3-details {
    margin-top: -10rem;
  }
  .services-col-col .details1 {
    margin-top: -3rem;
  }
  .services-col-col .details2 {
    margin-top: -3rem;
  }
  .services-col-col .details2 {
    margin-top: -3rem;
  }
}
@media screen and (max-width: 916px) {
  /* .service-col1 .details2 p {
    
    width: 800px;
    
  }
  .service-col1 .details1 p {
  
    width: 800px;
    
  } */
}
@media screen and (max-width: 864px) {
  /* .service-col1 .details2 p {
    
    width: 700px;
    
  }
  .service-col1 .details1 p {
  
    width: 700px;
    
  } */
}
@media screen and (max-width: 840px) {
  .service-col2 .details1 h3{
    line-height: 30px;
    margin-bottom: 50px;
  }
  /* .service-col1 .details2 p {
    
    width: 700px;
    
  }
  .service-col1 .details1 p {
  
    width: 700px;
    
  } */
}
@media screen and (max-width: 809px) {
  /* .services {
    padding-top: 60px;
  } */
}
@media screen and (max-width: 810px) {
  /* .services {
    padding-top: 60px;
  } */
}

@media screen and (max-width: 799px) {
  .head {
    width: 100%;
    font-size: 40px;
  }
}
@media screen and (max-width: 755px) {
  .services-im {
    width: 100%;
  }
}
@media screen and (max-width: 739px) {
  .head {
    font-size: 32px;
  }
  .service-col2 .details1 h3 {
    font-size: 22px;
    width: 100%;
    height: 40px;
    line-height: 30px;
  }

  .service-col2 .details2 h3 {
    font-size: 22px;
    width: 100%;
    height: 50px;
    line-height: 20px;
  }
  .service-col1 .details2 p {
    font-size: 16px;
  }
  .service-col1 .details1 p {
    font-size: 16px;
    margin-top: -1rem;
  }
  .im {
    width: 100%;
  }
  .ṣervices-im1 img {
    margin-left: 10%;
    margin-right: auto;
  }
  .ṣervices-im2 img {
    margin-left: 12%;
    margin-right: auto;
  }
  .ṣervices-im3 img {
    margin-left: 10%;
    margin-right: auto;
  }
}

@media screen and (max-width: 668px) {
  .service-col2 .details1 h3 {
    margin-bottom: 3rem;
  }
  .service-col3-details {
    margin-top: -5rem;
  }
}
@media screen and (max-width: 588px) {
  .im img {
    width: 320px;
    height: 370px;
  }
  .head {
    font-size: 28px;
  }
  .service-col2 .details1 h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .service-col2 .details2 h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .service-col1 .details2 p {
    font-size: 16px;
  }
  .service-col1 .details1 p {
    font-size: 16px;
  }
}
@media screen and (max-width: 489px){
  .services-head{
    margin-top: 1.3rem;
  }
}
@media screen and (max-width: 448px){
  .services-head{
    margin-top: -2rem;
  }
}
@media screen and (max-width: 465px) {
  .service-col1 .details2 p {
    /* margin-top: 0.0rem; */
    padding-top: 2rem;
  }
  .service-col1 .details1 p {
    /* font-size: 16px; */
    /* margin-top: -2rem; */
  }
  .service-col3-details {
    margin-top: 1rem;
  }
  .services-col-col2 {
    margin-top: 1.5rem;
  }
  .services-col-col2 {
    margin-top: 3rem;
  }
  .head{
    text-align: left;
    margin-left: 1.8rem;
    width: 80%;
  }
  .service-col{
    /* align-items: left; */
    /* margin-left: -1rem; */
    /* width: 90%;
    margin-left: -1rem; */
  }
  .service-col2 .details1{
    margin-left: -2rem;
    margin-bottom: 1.5rem;
  }
  .service-col2 .details2{
    margin-left: -2rem;
    /* margin-bottom: 1.5rem; */
  }
  .services-col-col3 .details2 h3{
    margin-bottom:-1rem 
  }
  .services-col-col2 .details2 h3{
    margin-bottom: 1.8rem;
  }
}

@media screen and (max-width: 460px) {
  .im {
    width: 80%;
  }
  .im img {
    width: 320px;
    height: 370px;
  }
  .ṣervices-im1 img {
    margin-left: -14%;
    margin-right: auto;
  }
  .ṣervices-im2 img {
    margin-left: -14%;
    margin-right: auto;
    margin-top: 3rem;
  }
  .ṣervices-im3 img {
    margin-left: -14%;
    margin-right: auto;
  }
  .service-col1 .details2 p {
    /* margin-top: 1rem; */
  }
  .services-col-col3 .details2 h3{
    margin-bottom: 1.8rem; 
  }
}
@media screen and (max-width: 435px) {
.services-im2{
  width: 100%;
  margin:0px;
}
}
@media screen and (max-width: 425px) {
  .ṣervices-im1 img {
    margin-left: -22%;
    margin-right: auto;
  }
  .ṣervices-im2 img {
    margin-left: -22%;
    margin-right: auto;
  }
  .ṣervices-im3 img {
    margin-left: -22%;
    margin-right: auto;
  }
}
@media screen and (max-width:412px) {
  .services-col-col .details1 p{
padding-top: 6px;
  }
  /* .services-col-col3 .details2 p{
padding-top: 0px;
  } */
}
@media screen and (max-width: 404px) {
  /* .ṣervices-im1 img { */
  /* margin-left: -3%; */
  /* margin-right: auto;
  }
  .ṣervices-im2 img {
    margin-left: 3%;
    margin-right: auto;
    margin-top: 4rem;
  }
  .ṣervices-im3 img {
    margin-left: 3%;
    margin-right: auto;
  } */
}
@media screen and(max-width: 401px) {
  .im {
    width: 80%;
  }
  .im img {
    width: 280px;
    height: 300px;
  }
  .im1 img {
    margin-left: -4%;
    margin-right: auto;
    margin-bottom: -3rem;
  }
  .im2 img {
    margin-left: 3%;
    margin-right: auto;
    margin-top: 6rem;
    margin-bottom: -3rem;
  }
  .im3 img {
    margin-left: -10%;
    margin-right: 10%;
    margin-bottom: -3rem;
  }
  .services-col-col2 .details2 h3 {
    margin-top: 2rem;
    padding-top: 2rem;
  }
}
@media screen and (max-width: 394px) {
   
  
}
@media screen and (max-width: 393px) {
    .services-col-col3 .details2 p{
padding-top: 30px;
  }
  
}
@media screen and (max-width: 387px) {
  .im {
    width: 80%;
  }
  .im img {
    width: 280px;
    height: 300px;
  }
}
@media screen and (max-width: 379px) {
  .services-head{
    margin-top: -3.5rem;
  }
}
@media screen and (max-width: 374px) {
  .service-col2 .details1 h3 {
    font-size: 18px;
    line-height: 30px;
  }
  .service-col2 .details2 h3 {
    font-size: 18px;
    line-height: 30px;
  }
  .services-col-col2 .details2 P {
    /* margin-top: -3rem; */
    padding-top: -10px;
  }
  .service-col1 .details2 p {
    font-size: 14px;
    /* margin-top: -1rem; */
  }
  .service-col1 .details1 p {
    font-size: 14px;
    margin-top: -2.4rem;
  }
  .service-col2 .details1 p {
    padding-top: 10px;
  }
}
@media screen and (max-width:368px) {
  .services{
    margin-top: 0rem;
    /* padding-top: 8rem; */
  }
}
@media screen and (max-width:360px) {
  /* .services-col-col3 .details2 p{
padding-top: 20px;
  }
 */
 .services-col-col3 .details2 h3{
    margin-bottom: 1.8rem; 
  }
  .services-col-col1 .details1 h3{
    margin-bottom: 4rem; 
  }
}