.main-start {
  width: 100%;
  height: 1823px;
  background: rgba(15, 16, 40, 1);
}
.getstarted {
  width: 100%;
  height: 1523px;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 200px;
  background-image: url(../../Images/getstart.png);
  background-repeat: no-repeat;
  background-size: 1300px 1440px;
  background-position: center;
  color: #ffffff;
}
.start-head {
  align-items: center;
  text-align: center;
  justify-items: center;

  margin-left: 383px;
  margin-bottom: -120px;
}
.start-head h2 {
  height: 41px;
  width: 674px;
  text-align: center;
  color: #ffffff;
  font-family: DM Sans;
  font-size: 50px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0.37400001287460327px;
  text-align: left;
  padding-top: 151px;
}
.get-text {
  display: flex;
  flex-direction: column;
}
.span-col {
  display: flex;
}
.span-col span {
  height: 82px;
  width: 82px;
  left: 494px;
  top: 336px;
  border-radius: 50%;
  padding: 30px;
  background: rgba(83, 167, 214, 1);
}
.span-col span h4 {
  height: 60px;
  width: 14px;
  /* left: 34px; */
  padding-bottom: 50px;
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.41px;
  text-align: left;
  margin-top: -20px;
}
.span-col-1 {
  margin-left: 360px;
  margin-top: 120px;
  /* padding: 20px; */
}
.span-col .text-details h3 {
  height: 82px;
  width: 349px;
  font-family: DM Sans;
  font-size: 34px;
  font-weight: 500;
  line-height: 41px;
  letter-spacing: 0.37400001287460327px;
  text-align: right;
}
.text-details {
  margin-left: 26px;
}
.span-col .text-details p {
  margin-top: 10px;
  margin-left: 10px;
  height: 54px;
  width: 430px;

  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.40799999237060547px;
  text-align: left;
  color: rgba(187, 187, 187, 1);
}

.span-col-2 {
  margin-top: 400px;
  margin-left: 140px;
}
.span-col-2 .text-details {
  margin-right: 26px;
}
.span-col-2 .text-details h3 {
  height: 41px;
  width: 516px;
}
.span-col-2 .text-details p {
  height: 54px;
  width: 414px;
  margin-left: 102px;
  text-align: right;
  /* left: 102px;
        top: 57px; */
}
.span-col-3 {
  margin-top: 340px;
  margin-left: 500px;
}
.span-col-3 .text-details {
  margin-left: -70px;
}
.span-col-3 .text-details h3 {
  height: 41px;
  width: 516px;
  margin-left: -140px;
}

.span-col-3 .text-details p {
  height: 54px;
  width: 414px;
  margin-left: 102px;
  /* left: 102px;
        top: 57px; */
}
.span-col-3 h3 {
  height: 41px;
  width: 292px;
  text-align: left;
}
@media screen and (max-width: 1200px) {
  .getstarted {
    background-size: 1200px 1440px;
    background-position: center;
  }
  .start-head {
    margin-left: 200px;
  }
}
@media screen and (max-width: 1115px) {
  .getstarted {
    background-size: 1000px 1440px;
    background-position: center;
  }
  .span-col-1 {
    margin-left: 300px;
  }
  .span-col-2 {
    margin-left: 60px;
  }
  .span-col-3 {
    margin-left: 400px;
  }
  .start-head {
    margin-left: 150px;
  }
}
@media screen and (max-width: 1000px) {
  .getstarted {
    background-size: 900px 1440px;
    background-position: center;
  }
  .span-col-1 {
    margin-left: 240px;
  }
  .span-col-2 {
    margin-left: 30px;
  }
  .span-col-3 {
    margin-left: 350px;
  }
  .start-head {
    left: 120px;
  }
}
@media screen and (max-width: 941px) {
  .span-col-1 {
    margin-left: 180px;
  }
  .span-col-2 {
    margin-left: 12px;
  }
  .span-col-3 {
    margin-left: 320px;
  }
}
@media screen and (max-width: 900px) {
  .getstarted {
    background-size: 800px 1000px;
    background-position: center;
    height: 1000px;
  }
  .span-col-1 {
    margin-left: 200px;
    margin-top: 100px;
  }
  .span-col-2 {
    margin-top: 170px;
    margin-left: -20px;
  }
  .span-col-3 {
    margin-top: 230px;
    margin-left: 290px;
  }
  .start-head {
    margin-left: 120px;
  }
  .main-start {
    width: 100%;
    height: 1300px;
  }
}
@media screen and (max-width: 870px) {
  .span-col .text-details h3 {
    font-size: 30px;
    line-height: 35px;
  }

  .text-details {
    margin-left: 26px;
  }

  .span-col .text-details p {
    font-size: 16px;
    width: 300px;
  }
  .span-col-1 .text-details h3 {
    margin-left: -38px;
  }
  .span-col-3 .text-details h3 {
    margin-left: -169px;
  }
  .span-col-2 .text-details p {
    margin-left: 198px;
  }
  .span-col-2 {
    margin-left: -45px;
  }
  .start-head h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 786px) {
  .getstarted {
    background-size: 600px 800px;
    background-position: center;
    height: 1000px;
  }
  .span-col span {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 30px;
    background: rgba(83, 167, 214, 1);
  }

  .span-col span h4 {
    height: 24px;
    width: 6px;

    font-size: 16px;
    margin-left: -8px;
    margin-top: -30px;
  }

  .span-col-2 {
    margin-left: -105px;
  }
  .span-col-2 .text-details h3 {
    height: 48px;
    width: 300px;
    text-align: right;
    margin-left: 200px;
    margin-bottom: 30px;
  }
  #start-tem {
    margin-top: 30px;
  }
  #start-tem3 {
    margin-top: 0px;
  }
  .text-details #start-tem2 {
    margin-top: 60px;
  }
  .span-col-3 {
    margin-top: 150px;
  }
}
@media screen and (max-width: 768px) {
  .start-head {
    /* 1 */
    margin-left: 80px;
  }
}
@media screen and (max-width: 735px) {
  .span-col-2 {
    margin-left: -140px;
  }
  .span-col-3 {
    margin-left: 240px;
  }
}
@media screen and (max-width: 698px) {
  .span-col-1 {
    margin-left: 130px;
    margin-top: 120px;
  }
  .span-col-2 {
    margin-left: -140px;
  }
  .span-col-3 {
    margin-left: 220px;
  }
  .start-head h2 {
    font-size: 30px;
    width: 600px;
    /* left: 120px; */
  }
}
@media screen and (max-width: 661px) {
  .start-head h2 {
    font-size: 30px;
    width: 500px;
    padding-left: 50px;
  }
  .start-head {
    width: 520px;
    margin-left: 0px;
  }
  .getstarted {
    background-size: 480px 500px;
  }
  .span-col-1 {
    margin-left: 0px;
    margin-top: 0px;
  }
  .span-col-2 {
    margin-left: -240px;
    margin-top: 240px;
  }
  .span-col-3 {
    margin-left: 0px;
    margin-top: 190px;
  }
  .span-col .text-details h3 {
    height: 48px;
    width: 200px;

    font-family: DM Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.40799999237060547px;
    text-align: left;
  }

  .span-col .text-details p {
    height: 80px;
    width: 274px;

    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.07800000160932541px;
    text-align: left;
  }
  .span-col-3 .text-details h3 {
    margin-left: 100px;
  }
  .span-col-3 .text-details p {
    margin-top: 0px;
  }
  .span-col-2 .text-details h3 {
    width: 220px;
    text-align: right;
    margin-left: 290px;
  }
  .span-col-2 .text-details p {
    text-align: right;
    width: 320px;
    margin-top: -10px;
  }
  .span-col-2 {
    margin-top: 210px;
  }
  .span-col-1 .text-details h3 {
    margin-left: 10px;
  }
  .span-col-1 {
    margin-top: 100px;
  }
}

@media screen and (max-width: 486px) {
  .main-start{
    width: 100%;
    /* height: 300px; */
    height: 500px;
  }
  .getstarted {
    background-size: 360px 480px;
    background-position: top center;
    height: 500px;
  }
  .main-start {
    /* height: auto; */
    width: 100%;
    height: 1000px;
  }
  .start-head {
    /* margin-bottom: 100px; */
    width: 22.5rem;
    margin-left: 0px;
  }
  .start-head h2 {
    font-size: 22px;
    width: 22.5rem;
    padding-left: 50px;
    padding-top: 30px;
    /* width: 100%; */
    /* margin-top: -143px; */
  }
  .span-col-1 {
    /* formarly 130px */
    margin-top: 0px;
    margin-left: 120px;
  }
  .span-col .text-details h3 {
    height: 48px;
    width: 12.5rem;

    font-size: 16px;
  }

  .span-col-1 .text-details p {
    height: 80px;
    width: 17.13rem;
    font-size: 14px;
    margin-left: 0px;
  }
  .span-col-2 {
    /* margin-top: 180px; */
    margin-top: 44px;
  }
  .span-col-3 {
    /* margin-top: 180px; */
    margin-top: 60px;
    margin-left: 160px;
  }
  .span-col-3 .text-details h3 {
    margin-left: 90px;
  }
  #start-tem {
    margin-top: -14px;
    margin-left: 90px;
  }
  #start-tem3 {
    padding-top: -20px;
  }
  #start-tem2 {
    margin-top: 30px;
    margin-left: 0px;
  }
  .span-col-1 .text-details h3 {
    margin-left: 0px;
  }
  .span-col .text-details h3 {
    height: 48px;
    width: 10rem;

    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.40799999237060547px;
    text-align: left;
  }

  .span-col .text-details p {
    height: 80px;
    width: 10.9rem;

    font-family: DM Sans;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.07800000160932541px;
    text-align: left;
  }
  .span-col-2 .text-details {
    margin-left: 80px;
  }
  .span-col-2 span {
    margin-left: -18px;
  }
  .span-col-2 .text-details h3 {
    text-align: right;
    margin-bottom: 18px;
    margin-left: 11.875rem;
  }
  .span-col-2 .text-details {
    /* margin-left: 0px; */
  }
  .span-col-2 .text-details p {
    text-align: right;
    margin-left: 170px;
  }
  .span-col-3 .text-details p {
    margin-left: 90px;
    margin-top: -12px;
  }
  /*  */
  .span-col span {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    padding: 30px;
    background: rgba(83, 167, 214, 1);
  }

  .span-col span h4 {
    height: 14px;
    width: 6px;

    font-size: 14px;
    padding-left: -8px;
    padding-top: -30px;
  }
}

@media screen and (max-width: 400px) {
  .start-head {
    /* margin-left: 10px; */
    padding-top: -100px;
  }

  .span-col-2 {
    margin-left: -250px;
  }
}
@media screen and (max-width: 390px) {
  .main-start {
    height: 1240px;
    /* margin-top: 30px; */
  }
  .start-head h2 {
    width: 350px;
    height: 30px;
    font-size: 20px;
    /* margin-left: 10px; */
    /* margin-bottom: 0px; */
    /* margin-top: -60px; */
    /* padding-top: -140px; */
  }
  .head-down {
    /* padding-top: -140px; */
    padding-bottom: 50px;
    width: 360px;
  }
  .span-col-2 {
    margin-left: -270px;
  }
}
@media screen and (max-width: 375px) {
  .main-start {
    height: 1100px;
    /* margin-top: 30px; */
    width: 100%;
  }
  .start-head h2 {
    width: 320px;
    height: 30px;
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 0px;
    /* margin-top: -60px; */
    padding-top: 60px;
  }
  .head-down {
    /* padding-top: -140px; */
    /* padding-bottom: 50px; */
  }
}
@media screen and (max-width: 360px) {
  .getstarted {
    width: 100%;
  }
}
