.all {
  /* background: rgba(250, 250, 255, 1); */
  background: rgba(250, 250, 255, 1);
  height: 778px;
  width: 100%;
  border-radius: 0px;
}
.main-why {
  display: flex;
}
.why-col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  gap: 4.6rem;
  padding-top: 86px;
  margin-left: 90px;
  margin-right: 57px;
}
.why-col1 h1 {
  height: 41px;
  width: 210px;
  margin-top: 68px;
  font-family: DM Sans;
  font-size: 50px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0.37400001287460327px;
  text-align: left;
  color: #060ca1;
}
.why-col p {
  height: 81px;
  width: 404px;
  margin-top: 30px;
  color: rgba(1, 1, 14, 1);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.40799999237060547px;
  text-align: left;
}
.check {
  margin-top: 29px;
}
.check-col span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.check-round {
  font-size: 30px;
  color: rgba(6, 12, 161, 1);
}
/* FaCheck {
  height: 29.25714111328125px;
  width: 29.25714111328125px;
  margin-right: -4px;
  padding-left: 4px;
  padding-top: 5px;
  border-radius: 0px;
  background-color: #fff;
  color: rgba(6, 12, 161, 1);
  border-radius: 50%;
} */
/* .facheck {
  height: 32px;
  width: 32px;
  padding-left: 4.5px;

  padding-bottom: 8px;
  border: 1px solid rgba(6, 12, 161, 1);
  border-radius: 50%;
  margin-top: 15px;
  padding-top: 6px;
  color: rgba(6, 12, 161, 1);
} */
#spancol {
  /* margin-left: -200px; */
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 50px;
}
#spancol h3 {
  height: 30px;
  width: 207px;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.38px;
  text-align: left;
  margin-bottom: 24px;
}
#spancol h6 {
  height: 21px;
  width: 291px;
  margin-top: -18px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.32px;
  text-align: left;
  color: rgba(154, 153, 153, 1);
}
#rel {
  margin-top: 10px;
}

.why-col2 img {
  width: 690px;
  height: 690px;
}
.visible {
  left: 24px;
  font-family: DM Sans;
  font-size: 28px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0.37400001287460327px;
  text-align: left;
  color: #060ca1;
  /* font-family: DM Sans;
     font-size: 50px;
     font-weight: 700;
     line-height: 41px;
     letter-spacing: 0.37400001287460327px;
     text-align: left;
      */
  display: none;
}
@media screen and (max-width: 1200px) {
  .why-col2 img {
    width: 480px;
    height: 480px;
  }
}
@media screen and (max-width: 1071px) {
  .main-why {
    margin-left: -4%;
  }
}
@media screen and (max-width: 1041px) {
  .why-col2 {
    margin-left: -40px;
  }
}
@media screen and (max-width: 1000px) {
  .main-why {
    margin-left: -6%;
  }
}

@media screen and (max-width: 980px) {
  .why-col2 img {
    width: 460px;
    height: 460px;
  }
}
@media screen and (max-width: 940px) {
  .why-col2 img {
    width: 420px;
    height: 420px;
    /* margin-left: -27px;
    margin-top: -60px; */
  }
}

@media screen and (max-width: 911px) {
  .all {
    margin-bottom: -200px;
  }
  .main-why {
    /* margin-bottom: 0px; */
    margin-left: 20px;
    height: auto;
  }
  .why-col2 img {
    width: 400px;
    height: 400px;
    margin-left: -27px;
    margin-top: -60px;
  }
  .why-col {
    flex-direction: row;
    justify-content: space-around;
  }
  .why-col1 {
    margin-top: -50px;
    margin-left: -50px;
  }
  .why-col1 .dis-show {
    font-size: 40px;
  }
  /* .why-col1 p{
      font-size: 16px;
  } */
  /* .visible {
    display: block;

    padding-top: 24px;
    padding-left: 27px;
    
  } */
  /* .dis-show {
    display: none;
  } */
  .why-col p {
    height: 63px;
    width: 321px;
    font-size: 15px;
    line-height: 21px;
    text-align: left;
  }
  

  #spancol h3 {
    font-size: 18px;
  }
  #spancol h6 {
    font-size: 14px;
  }
  .why-col2 {
    margin-top: 30px;
  }
  .facheck {
    margin-right: 10px;
    margin-top: -16px;

  }
}
@media screen and (max-width: 873px) {
  .main-why {
    margin-left: -10px;
    height: auto;
  }
  .why-col2 {
    margin-left: -40px;
  }
  .why-col2 img {
    width: 380px;
    height: 380px;
  }
}
@media screen and (max-width: 827px) {
  .why-col2 {
    margin-left: -70px;
  }
}

@media screen and (max-width: 809px) {
  .why-col {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
  .why-col1 {
    margin-left: -45px;
  }
  /* .why-col1 p {
    height: 63px;
    width: 321px;
    left: 24px;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  } */
  .why-col p {
    height: 63px;
    width: 321px;
    font-size: 16px;
    line-height: 21px;
    text-align: left;
  }
  #spancol h3 {
    height: 21px;
    width: 263px;

    font-size: 16px;
    font-weight: 400px;
    line-height: 21px;
  }
  #spancol h6 {
    padding-top: 5px;
    height: 25px;
    width: 360px;

    font-size: 16px;
    font-weight: 400px;
    line-height: 21px;
  }
  .all {
    height: 950px;
    margin-bottom: 0px;
    padding-left: 54px;
  }
  /* 
    
  /* .main-why {

    margin-left: 20px;
    height: auto;
  } */
  /* .why-col2 img {
    width: 400px;
    height: 400px;
    margin-left: -27px;
    margin-top: -60px;
  }
  .why-col {
    flex-direction: row;
    justify-content: space-around;
  }
  .why-col1 {
    margin-top: -50px;
    margin-left: -50px;
  } */
  /* .why-col1 .dis-show{
      font-size: 50px;
  } */
  /* */
  .visible {
    display: block;

    padding-top: 24px;
    padding-left: 27px;
    font-size: 50px;
  }
  .dis-show {
    display: none;
  }
  
  /* 
  
   
 
 .why-col2 {
     margin-top: 30px;
 } */
}
@media screen and (max-width: 521px) {
  .all {
    /* height: 1180px; */
    padding-left: 10px;
  }
 
  .check-col span {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (max-width: 460px) {
  .all {
    /* margin-bottom: -200px; */
  }
  .visible {
    font-size: 28px;
  }
  .why-col1 p {
    font-size: 14px;
  }
  #spancol h3 {
    font-size: 16px;
  }
  #spancol h6 {
    font-size: 14px;
  }
}
@media screen and (max-width: 437px) {
  .all {
    height: 1000px;
    /* margin-bottom: -200px; */
  }

  #spancol h6 {
    width: 249px;
    font-size: 14px;
  }
  #spancol {
    margin-top: 10px;
  }
  .why-col1 p {
    width: 300px;
    text-align: left;
    text-align: left;
    margin-left: -20px;
  }
  .check-col {
    margin-left: -20px;
  }
  .why-col2 img {
    width: 300px;
    height: 300px;
    margin-left: -27px;
  }
   .facheck {
  margin-top: -6px;
 
  }
}
