.navbar {
  /* position: relative; */
  /* position: fixed; */
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: transparent;
  padding-top: 27px;
}
.navbar .logo {
  /* width: 82px; */
  margin-left: 90px;
}
.logo img {
  width: 118px;
  height: 40px;
}
.nav-menu {
  display: flex;
  margin-right: 90px;
}
.nav-menu li {
  list-style: none;
}
.nav-menu li a {
  color: white;
  text-decoration: none;
  width: 67px;
  height: 27px;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.40799999237060547px;
  text-align: left;
  gap: 2rem;
  cursor: pointer;
}
.nav-item {
  padding: 1rem;
}
.nav-button {
  border: none;
  height: 50px;
  width: 223px;
  background: rgba(1, 1, 14, 1);
  border-radius: 4px;
  margin-top: -10px;
  /* display: none; */
}
.nav-button-active {
  border: none;
  height: 50px;
  width: 223px;
  background: rgba(255, 255, 255, 1);
  border-radius: 4px;
  margin-top: -10px;
  color: black;
  /* display: block; */
}
.nav-menu .nav-button-active a{
  color: black;
}

.nav-button:hover {
  background: #202447;
}
.nav-item {
  cursor: pointer;
}
.nav-button a {
  /* padding-left: 48px;
padding-right: 13px; */
  color: #ffeeff;
  /* padding-top: -3px; */
  /* padding-bottom: 20px; */

  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.ham-close {
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .navbar .logo {
    margin-left: 70px;
  }
}
@media screen and (max-width: 1077px) {
  .navbar .logo {
    margin-left: 30px;
  }
}
@media screen and (max-width: 1044px) {
  .navbar .logo {
    margin-left: 0px;
  }
}

@media screen and (max-width: 940px) {
  .navbar .logo {
    margin-left: 20px;
  }

  .nav-menu {
    /* position: relative; */
    position: fixed;
    left: 100%;
    top: 0px;
    margin-left: 70%;
    flex-direction: column;
    justify-content: left;
    background: white;
    color: black;
    width: 430px;
    height: 303px;
    text-align: left;
    transition: 0.25s ease-in-out;
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.1);
    z-index: 10;
    /* margin-top: 120px; */
    /* border-radius: 32px; */
  }

  /* #close-menu {
    color: black;
  } */
  .nav-menu.active {
    left: 0;
  }
  .nav-menu {
    padding-top: 80px;
  }
  .nav-menu .nav-item {
    /* padding-top: 40px; */
    /* margin-top: 34px; */
  }

  .nav-item {
    font-size: 18px;
    justify-content: left;
    color: black;
  }

  .nav-menu li a {
    color: black;
    cursor: pointer;
  }

  .hamburger {
    display: flex;
    padding-right: 50px;
    color: rgba(154, 153, 153, 1);
  }

  .ham-close {
    display: flex;
    margin-top: -22px;
    padding-right: -80px;
    justify-content: space-between;
    gap: 130px;
    z-index: 10;
    /* margin-left: -20px; */
  }

  .nav-button {
    width: 156px;
    height: 40px;
    align-items: center;
    color: white;
    margin-top: 34px;
  }

  .nav-item .nav-button a {
    color: white;
  }
  #close-menu {
    width: 32px;
    height: 32px;
    border: 3px solid rgba(187, 187, 187, 1);
    border-radius: 50%;
    padding-right: 5px;
    padding-top: -5px;
    padding-left: -6px;
  }
  #close-menu2 {
    width: 32px;
    height: 32px;
    border: 3px solid rgba(187, 187, 187, 1);
    border-radius: 50%;
    padding-right: 5px;
    padding-top: -5px;
    padding-left: -6px;
  }
}
@media screen and (max-width: 898px) {
  .ham-close {
    margin-left: 30px;
    gap: 120px;
  }
  #close-menu {
  }
}
@media screen and (max-width: 867px) {
  .nav-item {
    margin-left: 10px;
  }
  .ham-close {
    gap: 100px;
  }
}
@media screen and (max-width: 820px) {
  .ham-close {
    gap: 110px;
    margin-right: -20px;
  }
}
@media screen and (max-width: 768px) {
  .ham-close {
    margin-right: -38px;
  }
}
@media screen and (max-width: 725px) {
  .ham-close {
    margin-right: -45px;
  }
}
@media screen and (max-width: 693px) {
  .nav-menu {
    width: 230px;
    height: 303px;
    margin-left: 448px;
  }
  .ham-close {
    /* gap: 110px; */
    margin-right: -38px;
  }
}
@media screen and (max-width: 660px) {
  .nav-menu {
    margin-left: 420px;
  }
}
@media screen and (max-width: 633px) {
  .nav-menu {
    margin-left: 400px;
  }
}
@media screen and (max-width: 620px) {
  .nav-menu {
    margin-left: 380px;
  }
}
@media screen and (max-width: 600px) {
  .nav-menu {
    margin-left: 360px;
  }
}
@media screen and (max-width: 585px) {
  .nav-menu {
    margin-left: 340px;
  }
}
@media screen and (max-width: 564px) {
  .nav-menu {
    margin-left: 320px;
  }
}
@media screen and (max-width: 546px) {
  .nav-menu {
    margin-left: 300px;
  }
}
@media screen and (max-width: 524px) {
  .nav-menu {
    margin-left: 280px;
  }
}

@media screen and (max-width: 480px) {
  .nav-menu {
    width: 230px;
    height: 303px;
    margin-left: 238px;
  }
  .ham-close {
    /* gap: 110px; */
    margin-right: -38px;
  }
  .navbar .logo {
    margin-left: 0px;
  }
}

@media screen and (max-width: 462px) {
  .nav-menu {
    margin-left: 220px;
  }
}
@media screen and (max-width: 441px) {
  .nav-menu {
    margin-left: 210px;
  }
}
@media screen and (max-width: 421px) {
  .nav-menu {
    margin-left: 180px;
  }
}
@media screen and (max-width: 392px) {
  .nav-menu {
    margin-left: 160px;
  }
}
