.first-col {
  width: 200px;
  height: 395px;
}
.second-col {
  width: 200px;
  height: 395px;
}
.whole-footer {
  display: flex;
  position: relative;
}

.main-main-subfooter {
  width: 1209px;
  height: 395px;
  margin-bottom: 0px;
}

.main-subFooter {
  background-image: url(../Images/CTA.png);
  background-size: 1050px 395px;
}

.text {
  padding-top: 60px;
  margin-bottom: 26px;
}
.text h3 {
  margin-left: 325px;
  height: 41px;
  width: 580px;

  font-family: DM Sans;
  font-size: 46px;
  font-weight: 500;
  line-height: 41px;
  letter-spacing: 0.37400001287460327px;
  text-align: left;
  color: #ffffff;
}
.more-text {
  height: 97px;
  width: 661px;
  margin-left: 274px;
  margin-top: 26px;
}
.more-text h3 {
  font-family: DM Sans;
  font-size: 46px;
  font-weight: 500;
  line-height: 41px;
  letter-spacing: 0.37400001287460327px;
  text-align: center;
  color: #ffffff;
  transition: 1s ease-in-out;
}
.store {
  padding-left: 320px;
}
.store img {
  border-radius: 4px;
}
.im1 {
  margin-left: -90px;
}
.sub {
  margin-left: -80px;
}
@media screen and (max-width: 1200px) {
  .main-main-subfooter {
    width: 900px;
    height: 395px;
    margin-left: 2.5%;
  }
  .main-subFooter {
    background-image: url(../Images/CTA.png);
    background-size: 900px 395px;
  }
  .sub {
    margin-left: -18%;
  }
  .im1 {
    margin-left: 0px;
  }
  .first-col {
    width: 150px;
  }
  .second-col {
    width: 180px;
  }
  /* 
  
   */
}
@media screen and (max-width: 1100px) {
  .first-col {
    width: 150px;
  }
  .second-col {
    width: 190px;
  }
}
/* @media screen and (max-width: 955px) {
  .first-col {
    width: 100px;
  }
  .second-col {
    width: 140px;
  }
} */
@media screen and (max-width: 955px) {
  .main-main-subfooter {
    width: 740px;
    height: 395px;
    margin-left: 40px;
  }

  .first-col {
    width: 100px;
  }
  .second-col {
    width: 140px;
  }
  .main-subFooter {
    background-size: 750px 395px;
  }

  .sub {
    margin-top: 30px;
    margin-left: -160px;
  }
  .text h3 {
    height: 44px;
    width: 550px;
    font-size: 40px;
    margin-left: 309px;
  }
  .more-text h3 {
    width: 530px;
    font-size: 40px;
  }
  .store {
    display: flex;
    flex-direction: row;
    /* margin-left: -60px; */
    /* margin-top: 10px; */
  }
  .store-img2{
    /* width: 270px;
    height: 100px; */
    /* margin-top: 50px; */
  }
  .store .store-img2 {
    margin-left: -60px;
    margin-top: 0px;
  }
  
}
@media screen and (max-width: 834px) {
  .main-main-subfooter {
    width: 710px;
    height: 395px;
  }

  .first-col {
    width: 30px;
  }
  .second-col {
    width: 120px;
  }
  .sub{
    margin-left: -175px;
  }
}
@media screen and (max-width: 768px) {
  .main-main-subfooter {
    width: 600px;
    height: 395px;
  }
  .main-subFooter {
    background-image: url(../Images/CTA.png);
    background-size: 600px 395px;
  }

  .first-col {
    width: 50px;
  }
  .second-col {
    width: 100px;
  }
  .text h3 {
    width: 500px;

    font-size: 30px;
  }
  .more-text {
    width: 500px;
  }
  .more-text h3 {
    font-size: 30px;
  }
  .sub {
    margin-left: -40%;
    text-align: center;
  }
  .sub .text{
    text-align: center;
    margin-left: 40px;
  }
}
@media screen and (max-width: 680px) {
  .whole-footer {
  
  }
  .main-main-subfooter {
    width: 450px;
    height: 200px;
  }
  .main-subFooter {
    background-image: url(../Images/CTA.png);
    background-size: 450px 300px;
  }

  .first-col {
    width: 50px;
  }
  .second-col {
    width: 100px;
  }
  .text h3 {
    width: 400px;

    font-size: 24px;
    margin-left: 280px;
  }
  .more-text {
    width: 400px;
    margin-top: -20px;
  }
  .more-text h3 {
    font-size: 24px;
    width: 400px;
  }
  .store img {
    width: 184px;
    height: 84px;
  }
  .store .im1 {
    margin-left: -40px;
  }
  .sub {
    margin-left: -56%;
  }
  .text {
  padding-top: 22px;
  /* margin-bottom: 26px; */
}
}
@media screen and (max-width:560px) {
  .first-col {
    width: 30px;
  }
  .second-col {
    width: 190px;
  }
}
@media screen and (max-width:544px) {
  .first-col {
    width: 0px;
  }
  .second-col {
    width: 220px;
  }
}
@media screen and (max-width:524px) {
  
  .second-col {
    width: 200px;
  }
  .main-main-subfooter{
    margin-left: 30px;
  }
}
@media screen and (max-width:505px) {
  
  
  .main-main-subfooter{
    margin-left: 18px;
  }
}
@media screen and (max-width: 495px) {
  .main-main-subfooter {
    width: 350px;
    height: 200px;
  }
  .main-subFooter {
  
    background-image: url(../Images/CTA.png);
    background-size: 350px 200px;
  }
  .text h3 {
    /* margin-top: 27px; */
    width: 230px;
    font-size: 16px;
    margin-left: 250px;
  }
  .more-text h3{
    margin-top: -17px;
    font-size: 16px;
    width: 230px;
    line-height: 24px;
    
  }
  .store{
    margin-left: -80px;
    margin-top: -60px;
    
  }
  .first-col {
    width: 70px;
  }
  .second-col {
    width: 100px;
  }
  /* .store .img{
    width: 94px;
    height: 40px;
  } */
  .text{
    /* margin-right: 100px; */
  }
  .sub{
    margin-left: -210px;
  }
   
}
@media screen and (max-width:420px) {
  .main-subFooter{
    margin-left: -13px;
  }
}
@media screen and (max-width:400px) {
   .main-main-subfooter {
    width: 321px;
    height: 200px;
  }
  .main-subFooter {
  
    background-image: url(../Images/CTA.png);
    background-size: 321px 200px;
  }
}